$aqua: #00ccbb;
$navy: #021521;
$bright-blue: rgba(0, 124, 255, 0.1);
$blue: #007cff;
$pale-grey: #f6f8f9;
$light-pink: #fde9e4;
$mobile: "screen and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";
